QSlider::handle:horizontal {
    background-color: white;
    border: 1px solid #808080;
    height: 14px;
    width: 16px;
    margin: -6px 0;
    border-radius: 7px  ;
    padding: -4px 0px;
}

QSlider::groove:horizontal {
    border-radius: 10px;
    height: 10px;
    margin: -1px 0;
}

QSlider::add-page:horizontal {
    background: #808080;
}

QSlider::sub-page:horizontal {
    background: #4682B4;
}

QSlider::handle:horizontal:pressed {
    border: 1px solid #4682B4;
}

QPushButton {
     border: 1px solid #8f8f91;
     border-radius: 3px;
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 #f6f7fa, stop: 1 #dadbde);
     height: 30px;
 }

 QPushButton:pressed {
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 #dadbde, stop: 1 #f6f7fa);
     border: 1px solid #4682B4;
 }
